.detail-cta-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem 1rem 2rem;
}
.cta-border {
  border: 2px solid var(--secondary-color);
  border-radius: 20%;
  display: flex;
  width: 90%;
  padding: 0.5rem;
}

.cta-header {
  text-align: center;
  font-size: 0.5rem;
  font-style: normal;
  line-height: normal;
  color: var(--secondary-color);
}
.cta-header > h1{
  margin: 0 1rem 0 1rem;
}
.cta-poster-container{

}
.cta-poster {
  width: 42%;
}
.cta-button {
  margin-bottom: 0.5rem;
  border: 2px solid var(--secondary-color);
  border-radius: 20%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 5rem;
}