/* FOOTER */

.footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 100vw;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.05rem;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo {  
  width: 13rem;
}

.slogan {
  text-align: center;
  font-size: 0.5rem;
}

.social-media-wrapper {
  gap: 2rem;
  display: flex;
  flex-direction: row;
}
.social-icon {
  width: 80%;
}
.socials-pair-wrapper {
  display: flex;
  flex-direction: row;  
  align-items: center;
}

.social-link, .footer-link {/*TA BORT NÅGRA LINKS OCH SOCIAL MEDIA ICONS? FÖR MÅNGA FÅR EJ PLATS!*/
  font-family: "Roboto", sans-serif;
  font-size: 0.6rem;
  font-weight: 400;
  color: var(--primary-color);
}

.footer-links-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.footer-link {
  text-align: right;
}
.social-link{
  display: none;
}