:root {
  --primary-color: #0b0d0b;
  --secondary-color: #04fccf;
  --tertiary-color: #f8f8f8;
  --pop-color: #de490a;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: var(--primary-color);
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Orbitron", sans-serif;
  overscroll-behavior: none;
}

/* NAVBAR */

.mobile-hide {
  display: none;
}

.nav-bar {
  width: 100vw;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
  gap: 2rem;
  height: 4.5rem;
  flex-shrink: 0;
  align-self: stretch;
  position: fixed;
  z-index: 5;
}

.nav-bar.animate {
  top: -100px;
}
.nav-bar.sticky {
  top: 0;
  z-index: 99;
}

a:hover {
  text-decoration: none;
  color: var(--pop-color);
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.search-burger-icons {
  gap: 1rem;
  display: flex;
  flex-direction: row;
}

/* END NAVBAR */

/* HERO */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  top: 4rem;
}

.hero-image {
  width: calc(100%);
}

/*END HERO*/

/* MAIN */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  /*padding-left: 50px;
  padding-right: 50px;*/
}

.offer {
  display: flex;
  flex-direction: row;
  color: var(--tertiary-color);
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.offer-heading {
  font-family: "Orbitron", monospace;
  color: var(--tertiary-color);
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 9px;
}

.offer-details {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.offer-code {
  font-weight: 600;
  color: var(--secondary-color);
  display: inline;
}

.headline {
  font-family: "Orbitron", monospace;
  color: var(--secondary-color);
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}

svg {
  width: 100%;
  height: auto;
}

svg image {
  object-fit: cover;
}

.wrapper {
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: center;
}

.poster {
  display: flex;
  scale: 75%;
  position: relative;
  align-items: center;
  justify-content: center;
}

.button {
  scale: 75%;
  position: absolute;
  bottom: 5px;
  padding-bottom: 5px;
}

.current,
.future {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* SIGN-UP */

.signup-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 480px;
  border-image-slice: 15 12 15 12;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url("assets/new\ frames/signup desktop.svg");
  border-style: solid;
  margin-bottom: 40px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--secondary-color);
  margin: 0 auto;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  padding: 40px;
}

.signup-text {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: var(--tertiary-color);
}

.signup-headline {
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
}

.form {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-label {
  font-family: "Orbitron", sans-serif;
  color: var(--secondary-color);
}

.submit-btn {
  scale: 50%;
  display: flex;
  width: 160px;
  height: 54px;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20.056px;
  border: 2.006px solid var(--secondary-color);
  background-color: var(--primary-color);
}

/* END SIGNUP */

/* END MAIN */

/* FOOTER */

.footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(50%);
}

.footer-logo {
  height: 100%;
  width: 100%;
}

.slogan {
  font-size: 14px;
}

.social-media-wrapper {
  display: flex;
  flex-direction: column;
  width: calc(25%);
}

.socials-pair-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.social-link,
.footer-link {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--primary-color);
}

.footer-links-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5px;
  width: calc(25%);
}

.footer-link {
  text-align: right;
}

/* END FOOTER */

/* @MEDIA QUERIES */

@media screen and (max-width: 380px) {
  .socials-pair-wrapper > a {
    display: none;
  }
  .social-media-wrapper {
    justify-content: space-evenly;
  }
  .footer-links-wrapper > a {
    font-size: 8px !important;
  }
}

@media screen and (max-width: 550px) {
  .offer-heading > p {
    font-size: 10px;
    letter-spacing: 4px;
  }
  .offer-details > p {
    font-size: 10px;
  }
  .signup-wrapper {
    width: 300px;
    margin-bottom: 15px;
  }
  .signup-headline {
    font-size: 1rem;
  }
  .signup-text {
    font-size: 11px;
  }
  .content-wrapper {
    padding: 20px 20px 10px 20px;
  }
  .form {
    text-align: center;
    gap: 0.5rem;
  }
  .form > .form-label {
    font-size: 12px;
  }
  .footer {
    flex-direction: column-reverse;
    padding: 5px;
  }
  .social-media-wrapper {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .footer-links-wrapper {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .footer-links-wrapper > a {
    font-size: 10px;
  }
  .socials-pair-wrapper {
    gap: 3px;
  }
  .socials-pair-wrapper > a {
    font-size: 10px;
  }
  .socials-pair-wrapper > img {
    height: 20px;
    width: 20px;
  }
  .logo-wrapper {
    width: 80%;
  }
  .slogan {
    font-size: 8px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-wrap: wrap;
  }
  main {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .nav-logo,
  .nav-burger,
  .nav-search {
    scale: 75%;
  }
  .search-burger-icons {
    gap: 0.5rem;
  }
  /* .nav-bar {
    padding: 0 10px 0 10px;
    height: scale(75%);
  } */
  .nav-bar {
    gap: 2rem;
    padding: 0 1rem 0 0;
    height: 4rem;
  }
  .headline {
    font-size: 16px;
  }
  .current,
  .future {
    gap: 0;
  }
}
@media screen and (max-width: 1040px) {
  .offer {
    flex-direction: column;
    gap: 0;
  }
  .offer-heading > p,
  .offer-details > p {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .offer-heading {
    font-size: 20px;
  }
}
