:root {
    --primary-color: #0b0d0b;
    --secondary-color: #04fccf;
    --tertiary-color: #f8f8f8;
    --pop-color: #de490a;
  }
  .default-font {
    font-family: "Orbitron", sans-serif;
  }
  .secondary-font {
    font-family: "Roboto", sans-serif;
  }
  .heavy-weight{
    font-weight: 700;
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    padding: 0;
    background-color: var(--primary-color);
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Orbitron", sans-serif;
  }