:root {
  --primary-color: #0b0d0b;
  --secondary-color: #04fccf;
  --tertiary-color: #f8f8f8;
  --pop-color: #de490a;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: var(--primary-color);
  width: 100%;
  max-width: 1920px;/*Changed this to allow for bigger screens, on 1440 as it was before it fudged up or navbar and some of the image elements on my side, we could even remove it completly*/
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Orbitron", sans-serif;
  overscroll-behavior: none;  
}
/* Added this to hide scrollbar but allow scrolling This fixes our problem with the navbar elements being behind the scrollbar*/
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
  
}
/*hannes*/
.default-font {
  font-family: "Orbitron", sans-serif;
}
.secondary-font {
  font-family: "Roboto", sans-serif;
}
.heavy-weight{
  font-weight: 700;
}
a:hover{
  cursor: pointer;
}
button:hover{
  cursor: pointer;
}
a{
  text-decoration: none;
}
/*hannes*/
/* NAVBAR */

.mobile-hide {
  display: none;
}

.nav-bar {
  width: 100vw;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
  gap: 2rem;
  height: 4.5rem;
  flex-shrink: 0;
  align-self: stretch;
  position: fixed;
  z-index: 5;
}

.nav-bar.animate {
  top: -100px;
}
.nav-bar.sticky {
  top: 0;
  z-index: 99;
}

a:hover {
  text-decoration: none;
  color: var(--pop-color);
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.search-burger-icons {
  gap: 1rem;
  display: flex;
  flex-direction: row;
}

/* END NAVBAR */

/* HERO */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  top: 4rem; 
}

.hero-image {
  width: calc(100%);
}

/*END HERO*/
/*hero detail*/
.hero-detail-wrapper {
  margin-bottom: 2rem;
  top: 3rem;
  position: relative;
  width: 100vw;
  width: 100dvw;
}
.hero-img-wrapper { 
  width: 100%;
  height: 100%;  
}
.hero-img {
  width: 100%;
}
/*end hero detail*/
/* MAIN */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 45px;
  margin-top: 65px;
  padding-left: 120px;
  padding-right: 120px;
  width: 100%;
}

.offer {
  display: flex;
  flex-direction: row;
  color: var(--tertiary-color);
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  z-index: 2;
}

.offer-heading {
  font-family: "Orbitron", monospace;
  color: var(--tertiary-color);
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 9px;
}

.offer-details {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.offer-code {
  font-weight: 600;
  color: var(--secondary-color);
  display: inline;
}

.headline {
  font-family: "Orbitron", monospace;
  color: var(--secondary-color);
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}

svg {
  width: 100%;
  height: auto;
}

svg image {
  object-fit: cover;
}

.wrapper {
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: center;
  gap: 45px;
}

.poster {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-image-slice: 10 10 10 10;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-style: solid;
  height: 312px;
  width: 214px;
  object-fit: contain;
  overflow: hidden;
}
.poster-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  border: 1px solid var(--secondary-color);
  object-fit: contain;
  overflow: hidden;
  height: calc(100%);
}
.poster > img {
  border: 1px solid var(--secondary-color);
  object-fit: contain;
  overflow: hidden;
  justify-self: center;
  align-self: center;
}
.first-frame {
  border-image-source: url("assets/new frames/poster-frame1.svg");
}

.second-frame {
  border-image-source: url("assets/new frames/poster-frame2.svg");
}

.third-frame {
  border-image-source: url("assets/new frames/poster-frame3.svg");
}

.fourth-frame {
  border-image-source: url("assets/new frames/poster-frame4.svg");
}



.button {
  display: flex;
  position: absolute;
  bottom: 5px;
  width: 100%;
  justify-content: center;
}

.current,
.future {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* SIGN-UP */

.signup-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 480px;
  border-image-slice: 15 12 15 12;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url("assets/new\ frames/signup desktop.svg");
  border-style: solid;
  margin-top: 40px;
  margin-bottom: 40px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--secondary-color);
  margin: 0 auto;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  padding: 40px;
}

.signup-text {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: var(--tertiary-color);
}

.signup-headline {
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
}

.form {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-label {
  font-family: "Orbitron", sans-serif;
  color: var(--secondary-color);
}

.submit-btn {
  scale: 50%;
  display: flex;
  width: 160px;
  height: 54px;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20.056px;
  border: 2.006px solid var(--secondary-color);
  background-color: var(--primary-color);
}

/* END SIGNUP */
/*detail main*/

.header-container {
  display: flex;
  flex-direction: column;
  color: var(--secondary-color);
}

.header-text {
  text-align: center;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header-subtext {
  margin: 0.1rem 2rem 1rem 2rem;
  text-align: center;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.white-text {
  text-align: center;
  margin: 1rem 2rem 1rem 2rem;
  color: var(--tertiary-color);
  font-size: 0.65rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/*redeye start*/
.bg-redeye {
  background-image: url(assets/ai-red-eye-half-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.redeye-textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 2rem 1rem 2rem;
}
.redeye-header {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  line-height: normal;
}
.redeye-p {
  text-align: center;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/*redeye end*/

/*detail-cta*/
.detail-cta-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem 1rem 2rem;
}
.cta-border {
  border: 2px solid var(--secondary-color);
  border-radius: 20%;
  display: flex;
  width: 90%;
  padding: 0.5rem;
}

.cta-header {
  text-align: center;
  font-size: 0.5rem;
  font-style: normal;
  line-height: normal;
  color: var(--secondary-color);
}
.cta-header > h1{
  margin: 0 1rem 0 1rem;
}

.cta-poster {
  width: 42%;
}
.cta-button {
  margin-bottom: 0.5rem;
  border: 2px solid var(--secondary-color);
  border-radius: 20%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 5rem;
}
/*detail-cta ends*/
/*buy-tickets box*/
.hide-mobile{
  display: none;
}
.buy-tickets-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tickets-text-container {
  display: flex;
  flex-direction: column;
}
.tickets-header {
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--secondary-color);
}
.tickets-header > h2{
  margin-bottom: 0;
}
.tickets-p {
  margin-top: 0;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--tertiary-color);
}

/*ticket box start*/
.tickets-box-outer-border {
  width: 90%;
  border-image-slice: 16 10 16 10;
  border-image-width: 5% 5% 5% 5%;
  border-image-outset: 10px 0px 10px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url(assets/biljettköp.png);
  border-style: solid;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.tickets-box-inner-border {
  display: flex;
  margin: 0.6rem;
  flex-direction: column;
  padding: 0.5rem;
}
.ticket-box-header {
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0 0.5rem 0;
}
.ticket-box-header > h2 {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.1rem;
}
.ticket-box-header > h4 {
  text-align: center;
  width: 80%;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.img-wrapper {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}
.movieposter{
  width: 50%;
}
.orginal {
  max-width: fit-content;
  height: 39%;
  /* width: 23%; */
}

.ticket-box-p {
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.ticket-box-buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  
}
.dual-btn-wrapper {
  width: 50%;
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.date-btn {
  height: 2rem;
  width: 50%;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  padding: 0.2rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
.buy-btn{
  width: 100%;
}
.date-btn:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/*buy-tickets box end*/
/*end detail main*/
/* END MAIN */

/* FOOTER */

.footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(50%);
}

.footer-logo {
  height: 100%;
  width: 100%;
}

.slogan {
  font-size: 14px;
}

.social-media-wrapper {
  display: flex;
  flex-direction: column;
  width: calc(25%);
}

.socials-pair-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.social-link,
.footer-link {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--primary-color);
}

.footer-links-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5px;
  width: calc(25%);
}

.footer-link {
  text-align: right;
}

/* END FOOTER */

/* @MEDIA QUERIES */

@media screen and (max-width: 380px) {
  .socials-pair-wrapper > a {
    display: none;
  }
  .social-media-wrapper {
    justify-content: space-evenly;
  }
  .footer-links-wrapper > a {
    font-size: 8px !important;
  }
}

@media screen and (max-width: 550px) {
  .offer-heading > p {
    font-size: 10px;
    letter-spacing: 4px;
  }
  .offer-details > p {
    font-size: 10px;
  }
  .signup-wrapper {
    width: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .signup-headline {
    font-size: 1rem;
  }
  .signup-text {
    font-size: 11px;
  }
  .content-wrapper {
    padding: 20px 20px 10px 20px;
  }
  .form {
    text-align: center;
    gap: 0.5rem;
  }
  .form > .form-label {
    font-size: 12px;
  }
  .footer {
    flex-direction: column-reverse;
    padding: 5px;
  }
  .social-media-wrapper {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .footer-links-wrapper {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .footer-links-wrapper > a {
    font-size: 10px;
  }
  .socials-pair-wrapper {
    gap: 3px;
  }
  .socials-pair-wrapper > a {
    font-size: 10px;
  }
  .socials-pair-wrapper > img {
    height: 20px;
    width: 20px;
  }
  .logo-wrapper {
    width: 80%;
  }
  .slogan {
    font-size: 8px;
  }
  main {
    gap: 15px;
  }
}

@media (min-width: 650px) {
  .redeye-textWrapper {
    width: 60%;   
}
.bg-redeye {
  background-image: url(assets/ai-red-eye-half-image.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto;
}
.white-text {  
  font-weight: 400;  
}
.ticket-box-header > h2 {
  font-size: 1.5rem;  
}
.ticket-box-header > h4 { 
  font-size: 0.925rem;  
}
/* .movieposter {
  max-width: 274px;
} */
.ticket-box-p {
  font-size: 0.825rem;  
}
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-wrap: wrap;
  }
  .poster {
    height: 234px;
    width: 160px;
  }
  .button > img {
    width: 90px;
    height: 23px;
  }
  main {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
  .nav-logo,
  .nav-burger,
  .nav-search {
    scale: 75%;
  }
  .search-burger-icons {
    gap: 0.5rem;
  }
  
  .nav-bar {
    gap: 2rem;
    padding: 0 1rem 0 0;
    height: 4rem;
  }
  .headline {
    font-size: 16px;
  }
  .wrapper {
    gap: 10px;
  }
}

@media (min-width: 800px) {
  .hide-desktop{
    display: none;
  }

  .desktop-hide{
    display: none;
  }
  .header-text {
    font-size: 2.2rem;
  }
  .header-subtext {
    font-size: 1rem;
  }

  .redeye-header {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .redeye-p {
    margin-bottom: 0;
    margin-top: 0;    
    font-size: 0.9rem;       
}
.white-text {    
  margin: 0rem 2rem 0rem 2rem;
  font-size: 0.9rem;
}
/*buytickets*/

.tickets-box-outer-border-desktop {
  padding: 3rem 0 3rem 3rem;
  width: 90%;
  border-image-slice: 16 28 20 23;
  border-image-width: 5% 5% 5% 5%;
  border-image-outset: 0px 23px 0px 1px;
  border-image-repeat: stretch stretch;
  border-image-source: url(assets/biljettköp.png);
  border-style: solid;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
}
.tickets-box-inner-border-desktop {  
  display: flex; 
  padding: 0.5rem;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.img-wrapper-desktop {
  width: 30%;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}
/* ORGINAL
.movieposter-desktop {
  width: 90%;
}
 */
 .movieposter-desktop {
  max-height: 47%;
  width: 20%;
}
.dsk-og{
  max-width: 16rem;
}
.my-wrapper {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
}
.ticket-box-header-desktop {
  padding: 0;
  margin: 0;
  display: flex;
  color: var(--secondary-color);
  flex-direction: column;
  align-items: center;  
}
.ticket-box-header-desktop > h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.ticket-box-header-desktop > h4 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0.2rem;
}
.ticket-box-p-desktop {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ticket-box-buttons-wrapper-desktop {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.dual-btn-wrapper {
  width: 80%;
}

/*buytickets*/
}
@media (min-width: 900px) {
  
  .hide-desktop{
    display: none;
  }
  .date-btn {
    height: 3rem;
  }
}
@media screen and (max-width: 1024px) {
  .offer {
    flex-direction: column;
    gap: 0;
  }
  .offer-heading > p,
  .offer-details > p {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .offer-heading {
    font-size: 20px;
  }
  .wrapper {
    gap: 10px;
  }
  main {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1050px){
 
  .header-subtext {
    margin: 0.1rem 2rem 0rem 2rem;
  }
.bg-redeye {
    height: 34rem;
}
.white-text {
  margin: 1rem 2rem 0rem 2rem;
}
.ticket-box-header-desktop > h2 {
  font-size: 2em;
}
.ticket-box-header-desktop > h4 {
  margin: 0 0.5rem 0 0.5rem;
  font-size: 1.1em;
  font-weight: normal;
}

.redeye-textWrapper {
  width: 54%;
}
.redeye-header {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
}
@media (min-width: 1096px){
  
  .white-text {    
    font-size: 1.1rem;
}
.redeye-p {  
  font-size: 1rem;
}
.bg-redeye {
  height: 41rem;
}
.header-subtext {
  margin: 0.1rem 2rem 1rem 2rem;
}
}
@media screen and (max-width: 1130px) {
  .current,
  .future {
    flex-wrap: wrap;
  }
}
@media (min-width: 1141px){

.white-text {
  margin: 4rem 2rem 0rem 2rem;
}
.ticket-box-p-desktop {
  margin-top: 1rem;
}

}

@media (min-width: 1337px){
 
  .header-subtext {
    margin: 0.1rem 2rem 1rem 2rem;
}
.white-text {
  margin: 3rem 2rem 0rem 2rem;
  font-size: 1.3rem;
}
  .redeye-header {
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
}
.redeye-p {
  font-size: 1.1rem;
}
.bg-redeye { 
  background-size: contain;
}
.bg-redeye {
  height: 40rem;
}
}
@media (min-width: 1440px){
  .redeye-header {
    margin-top: 1.4rem;
    font-size: 1.5rem;
    margin-bottom: 1.4rem;
}
.redeye-p {
  font-size: 1.2rem;
}
.ticket-box-header-desktop > h2 {
  font-size: xxx-large;
}
.ticket-box-header-desktop > h4 {
  margin: 0.5rem;
  font-size: 1.3rem;
}
.ticket-box-p-desktop {
  margin-top: 0;
}
.ticket-box-buttons-wrapper-desktop { 
  gap: 1.5rem; 
}
.dual-btn-wrapper {  
  gap: 1.5rem;  
  width: 80%;
}
.date-btn {
  height: 4rem;

}
}