.tickets-box-outer-border-desktop {
  padding: 3rem;
  width: 90%;
  border-image-slice: 16 28 20 23;
  border-image-width: 5% 5% 5% 5%;
  border-image-outset: 0px 23px 0px 1px;
  border-image-repeat: stretch stretch;
  border-image-source: url(assets/biljettköp.png);
  border-style: solid;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
}
.tickets-box-inner-border-desktop {  
  display: flex; 
  padding: 0.5rem;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.img-wrapper-desktop {
  width: 30%;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}
.movieposter-desktop {
  width: 90%;
}
.wrapper {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
}
.ticket-box-header-desktop {
  padding: 0;
  margin: 0;
  display: flex;
  color: var(--secondary-color);
  flex-direction: column;
  align-items: center;
}
.ticket-box-p-desktop {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ticket-box-buttons-wrapper-desktop {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}